.maketforfigma{
    flex: 0 0 auto;
    background: #313a46;
    font-weight: bold;
    display: flex;
}
.maketforfigma img{
    border-radius: 10px;
    margin: 4px 0 0 4px;
}
.maketforfigma p {
    color: #98a6ad;
    text-decoration: none;
    letter-spacing: .01875rem;
    font-size: .775rem;
    padding: 0 10px;
    line-height: 0.70rem;
}
.maketforfigma p > a {
    color: #bbe4f0;
    font-weight: bold;
}
.maketforfigma p > a:hover {
    color: #ffffff
}
.main{
    flex: 1 0 auto;
    position: relative;
}
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;

    background-color: $primary-color;

    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.0025em;
    font-weight: 400;
    color: $color-content;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

input, textarea, select, button {
    font-family: inherit;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.text-uppercase {
    text-transform: uppercase;
}


/* Focus-element
================*/
:focus {
    outline: 2px solid $content-title-second;
}

:focus:not(:focus-visible) {
    outline: 0;
}

:focus-visible {
    outline: 2px solid $content-title-second;
}


/* Container
================*/
.container {
    width: 100%;
    max-width: 1222px;
    padding: 0 15px;
    margin: 0 auto;
}
