.footer {
    padding-top: 75px;
    padding-bottom: 100px;

    background-color: $secondary-color;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__col {
        width: 350px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 10px;
    }

    &__text {
        margin-bottom: 24px;
        color: $content-title;
    }

    &__newsletter-title {
        margin-bottom: 16px;

        font-family: 'DM Sans', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #0B2E29;
    }

    &__newsletter-form {
        display: flex;
    }

    &__newsletter-input,
    &__newsletter-btn {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: .5px;
    }

    &__newsletter-input {
        padding: 8px 16px;
        width: 100%;

        border: 0;

        font-weight: 400;

        &::placeholder {
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: .5px;
            color: #D7D7D7;
        }
    }

    &__newsletter-btn {
        padding: 8px 22px;

        color: $primary-color;
    }

    &__nav {
        display: flex;
        padding-top: 5px;
    }

    &__nav-item {
        font-family: 'DM Sans', sans-serif;

        &:first-child {
            margin-right: 80px;
        }

        &:nth-child(2) {
            margin-right: 137px;
        }
    }

    &__nav-title {
        margin-bottom: 16px;

        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #0B2E29
    }

    &__nav-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #575757;

        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
}